/* 1. 页面通用样式 */
        body{
            font: 12px "微软雅黑",Arial,Helvetica,sans-serif;
            color:#666;
            margin:0;
        }
        p1,h1,h2,h3,h4,h5,h6,ul,ol,dd,dl{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .lf{
            float: left;
        }
        .rf{
            float: right ;
        }
        .clear{
            clear:both;
        }
        a{
            color: #666;
            text-decoration: none;
        }
        a:hover{
            color: #ff0700;
            text-decoration: underline;
        }

        /* 布局样式 */
        #top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
            width: 1211px;
            margin: 0 auto;

        }
        /* top 灰色长条 */
        #top{
            width: 100%;
            height: 30px;
            background-color: #f7f7f7;
            line-height: 30px;
        }
        #top_box>img{
            /* 上外边距 左外边距 */
            margin-top:9px;
            margin-right: 5px;
        }
        #top_box>ul>li{
            float: left;
            margin-right:5px;
        }

        /* 模拟分割线 */
        #top_box>ul>li>i{
            margin-right:5px;
            border-left: 1px solid #DDDCCC; 
        }
        /* 会员俱乐部的背景图像 */
        .vip>a{
            padding-left: 29px;
             /*position*/
            background: url(Images/vip.jpg) left center no-repeat; 
        }
        .BJD>a{
            padding-left: 29px;
             /*position*/
            background: url(Images/dakehu.jpg) left center no-repeat; 
        }
        .mobile>a{
            display: inline-block;
            height: 22px;
            line-height:22px; 
            padding-left: 18px;
             /*position*/
            background: url(Images/iconlist_2.png) -128px -360px no-repeat; 
        }
        .mobile>a:hover{
            background: url(Images/iconlist_2.png) -128px -399px no-repeat ; 
        }

        /* 鼠标悬停下拉显示 */
        li.service>a{
            /* 左右内边距模拟宽度 */
            padding: 0 15px;
            /* 设置 高度 行高 */
            display: inline-block;
            height: 26px;
            line-height: 26px;
            /* 边框： 左右上边框 */
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 0;
            background:url(Images/jt_down.jpg) no-repeat 95% center;
        }
        li.service>a:hover{
            border-color:#ddd;
            background:url(Images/jt_up.jpg) no-repeat 95% center;
            background-color: #ffffff ;
        }
        li.service{
            position: relative;
        }
        .service>ul{
            width: 67.5%;
            padding:0 10px;
            position:absolute;
            top:28px;
            left: 6px;
           
            border: 1px solid #ddd;
            border-top:none;
            /* z-index: 100; */
            text-align: center;
            background-color: white;
            display: none;
        }
        li.service:hover>ul{
            display:block;
        } 
        li.service:hover>a{
            border-color:#ddd;
            background:url(Images/jt_up.jpg) no-repeat 95% center;
            background-color: #ffffff ;
        }
        #footer>ul,#footer>p{
            width: 70%;
            margin:10px auto;
            text-align: center;
        }
        #footer>ul>li{
            display: inline-block;
            margin:auto 10px;
        }
        #footer>.links>li{
            margin:auto;
            margin-right: 5px; 
        }
        #footer>.links>li>a{
            padding-left: 5px;
            border-left: 1px solid #ddd; 
        }
        #footer>.navbottom{
            margin: 15px auto;
        }
        #footer>ul>.dy>a{
            border:none;
        }